.application-main {
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-theme-block {
    width: 500px;
    padding: 5rem 0;
    border: 1px solid var(--dark-base);
    border-radius: 1rem;
    box-shadow: 0 0 20px 10px var(--light-gray);
}

.redefined-password-title {
    font-size: 1.8rem;
    text-align: center;
}

.form-block {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.label-format {
    font-weight: 600;
}

.input-format {
    width: 100%;
    margin-top: 0.375rem;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--dark-base);
    color: var(--dark-base);
    outline: 0
}

.line-input-animation {
    height: 3px;
	width: 100%;
	background: var(--blue);
    transform: scale(0) translateY(-2px);
	transform-origin: 50%;
	transition: 0.2s ease-out;
}

.input-format:focus + .line-input-animation{
	transform: scale(1) translateY(-2px);
}

.btn-redefined-password {
    width: 100%;
    margin-top: 2rem; 
    padding: 1.2rem 0;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 0.575rem; 
    color: var(--white);
    background: var(--light-blue);
    cursor: pointer;
    transition: all 0.2s ease-out; 
}

.btn-redefined-password:hover {
    background: var(--white);
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}