.application-main {
    background: var(--white);
}

.activate .nav-public-index,
.activate .card-path-block{
    width: 75%;
}

.activate .side-bar {
    left: 0;
}

.activate .close-side-bar span {
    transform: rotate(180deg);
}

.activate .logo-public-index {
    margin-left: 5rem;
}

.overlay-alter {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    background: #151616a9;
    z-index: 1;
    transition: all 0.2s ease-out;
}

.overlay-activate {
    opacity: 1;
    pointer-events: all;
}

.overlay-activate .form-block-alter {
    transform: scale(1);
}


.form-block-alter {
    width: 30%;
    padding: 2rem 2rem;
    border-radius: 1rem;
    background: var(--white);
    transform: scale(0);
    transition: all 0.2s ease-out;
}

.title-alter {
    text-align: center;
}

.form-group-alter {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.label-group-alter {
    font-weight: 700;
}

.input-group-alter {
    width: 100%;
    margin-top: 0.175rem;
    padding: 0.375rem 0;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--light-blue);
    color: var(--dark-base);
    outline: 0;
    transition: 0.2s ease-out;
}

.line-input-animation {
    height: 3px;
	width: 100%;
	background: var(--blue);
	transform: scale(0) translateY(-2px);
	transform-origin: 50%;
	transition: 0.2s ease-out;
}

.input-group-alter:focus + .line-input-animation{
	transform: scale(1) translateY(-2px);
}

.btn-block-alter {
    width: 100%;
    margin-top: 1.275rem;
    display: flex;
    justify-content: flex-end;
}

.btn-cancel {
    padding: 0.875rem;
    margin-right: 2rem;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--dark-base);
}

.btn-cancel:hover {
    text-decoration: underline;
}

.btn-alter {
    padding: 0.875rem 2rem;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--white);
    border-radius: 0.7rem;
    background: var(--light-blue);
    color: var(--white);
    transition: all 0.2s ease-out;
}

.btn-alter:hover {
    border: 1px solid var(--light-blue);
    background: var(--white);
    color: var(--light-blue);
}

.nav-public-index{
    width: 96%;
    padding: 0.5rem 2rem;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px;
    background: var(--white);
    transition: all 0.3s ease-out;
}

.logo-public-index {
    display: flex;
    margin-left: 2rem;
    transition: all 0.3s ease-out;
}

.logo-public-index svg path{
    fill: var(--dark-base);
}

.flex {
    flex: 1;
}

.links-public-index-navbar {
    font: 600 0.9rem 'Inter', sans-serif;
    color: var(--dark-base) !important;
}

.separator {
    cursor: default;
}

.form-search-block {
    width: 200px;
    margin-left: 2rem;
    display: flex;
    transition: 0.2s ease-out;
}

.form-search-block:focus-within {
    width: 400px;
}

.input-search-block {
    width: 100%;
    display: flex;
    border-radius: 0.5rem;
    background: var(--light-gray);
}

.input-search {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    outline: 0;
    background: transparent;
    color: var(--dark-base);
}

.btn-logout {
    margin-right: 5rem;
    padding: 0.7rem 2rem;
    border: 1px solid var(--white);
    border-radius: 0.5rem;
    outline: 0;
    background: var(--laravel);
    color: var(--white);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.btn-logout:hover,
.btn-logout:focus {
    border: 1px solid var(--laravel);
    background: var(--white);
    color: var(--laravel);
}

.side-bar {
    height: 100%;
    width: 25%;
    position: absolute;
    left: -21%;
    display: flex;
    transition: all 0.3s ease-out;
    z-index: 1;
}

.side-bar-theme {
    width: 90%;
    height: 100%;
    background-color: var(--white);
}

.form-avatar {
    display: none;
}

.top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--light-gray);
}

.image-avatar {
    width: 200px;
    height: 200px;
    position: relative;
    background: var(--white);
    border-radius: 100%;
    display: flex;
    align-items: flex-end;
}

.image-avatar img {
    border-radius: 100%;
}

.change-avatar {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 100%;
    opacity: 0;
    cursor: pointer;
    background: #2d3032b2;
    color: var(--white);
    transition: all 0.2s ease-out;
}

.change-avatar:hover {
    opacity: 1;
    pointer-events: all;
}

.user-info {
    position: relative;
    display: flex;
    align-items: center;
}

.id-user {
    margin-left: 0.4rem;
    font-size: 0.975rem;
    font-weight: 400;
    color: var(--light-dark);
}

.alter-user-settings {
    margin-left: 1rem;
    padding: 0.3rem;
    position: absolute;
    right: -40px;
    font-size: 1.2rem;
    border: 1px solid var(--dark-base);
    border-radius: 100%;
    cursor: pointer;
    background: var(--dark-base);
    color: var(--white);
    transition: all 0.2s ease-out;
}

.alter-user-settings:hover {
    border: 1px solid var(--laravel);
    background: var(--laravel);
    color: var(--white);
}

.user-settings {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.btn-delete-account {
    width: 80%;
    margin-top: 1rem;
}

.btn-delete-account button{
    width: 100%;
}

.close-side-bar {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--dark);
    transition: all 0.2s ease-out;
    z-index: 1;
}

.close-side-bar:hover {
    background: var(--dark-base);
}

.close-side-bar span {
    font-size: 2rem;
    color: var(--white);
    transition: all 0.3s ease-out;
}

.card-path-block {
    width: 96%;
    height: 100%;
    float: right;
    background: var(--primary);
    transition: all 0.3s ease-out;
}

.text-card-path {
    width: 80%;
    height: 35%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
}

.title-card-path {
    max-width: 300px;
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--white);
}

.description-card-path {
    max-width: 380px;
    margin-top: 3rem;
    color: var(--light-gray);
}

.description-card-path strong {
    color: var(--laravel);
}

.card-path {
    width: 80%;
    height: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 330px;
    min-width: 250px;
    padding: 1rem 2rem;
    border: 5px solid transparent;
    border-radius: 0.5rem;
    background: var(--white);
    transition: all 0.2s ease-out;
}

.image-card {
    width: 90px;
    padding: 0.8rem;
    position: relative;
    border-radius: 0.3rem;
    transform: translateY(-70%);
}

.title-card {
    transform: translateY(-1.5rem);
    font-size: 2rem;
}

.description-card {
    font-weight: 500;
}

.application-card {
    transform: translateY(-1.5rem);
}

.btn-path {
    width: 100%;
    margin-top: 2.5rem;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    outline: 0;
    cursor: pointer;
    color: var(--white);
    transition: all 0.2s ease-out;
}

.laravel-text {
    color: var(--laravel);
}

.laravel-card:hover {
    transform: scale(1.05);
    border: 5px solid var(--laravel);
}

.laravel-background {
    background: var(--laravel);
}

.laravel-btn:hover {
    border: 2px solid var(--laravel);
    background: var(--white);
    color: var(--laravel);
}

.react-text {
    color: var(--react);
}

.react-card:hover {
    transform: scale(1.05);
    border: 5px solid var(--react);
}

.react-background {
    background: var(--react);
}

.react-btn:hover {
    border: 2px solid var(--react);
    background: var(--white);
    color: var(--react);
}

.kotlin-text {
    color: var(--kotlin);
}

.kotlin-card:hover {
    transform: scale(1.05);
    border: 5px solid var(--kotlin);
}

.kotlin-background {
    background: var(--kotlin);
}

.kotlin-btn:hover {
    border: 2px solid var(--kotlin);
    background: var(--white);
    color: var(--kotlin);
}

@media (max-width: 1440px) {
    .activate .logo-public-index {
        margin-left: 3rem;
    }

    .nav-public-index{
        padding: 1.5rem 1rem;
    }

    .btn-logout {
        margin-right: 0;
    }

    .logo-public-index {
        margin-left: 0;
    }

    .form-search-block {
        width: 100px;
    }

    .form-search-block:focus-within {
        width: 200px;
    }
    
    .image-avatar {
        width: 150px;
        height: 150px;
    }

    .title-card-path {
        max-width: 300px;
        margin-top: 5rem;
        font-size: 2rem;
        color: var(--white);
    }
    
    .description-card-path {
        max-width: 380px;
        margin-top: 5rem;
        color: var(--light-gray);
    }

    .card {
        transform: scale(0.8);
        padding: 1rem;
    }

    .image-card {
        width: 80px;
        transform: translateY(-90%);
    }

    .title-card {
        margin-top: -3rem;
        font-size: 1.575rem;
    }

    .application-card {
        font-size: 1rem;
    }

    .description-card {
        max-width: 200px;
    }

    .laravel-card:hover {
        transform: scale(0.9);
        border: 5px solid var(--laravel);
    }

    .react-card:hover {
        transform: scale(0.9);
        border: 5px solid var(--react);
    }

    .kotlin-card:hover {
        transform: scale(0.9);
        border: 5px solid var(--kotlin);
    }

}