<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Guilherme Spica Luiz - Guilhermespicaluiz@gmail.com">
    <meta name="description" content="Dym é uma plataforma de estudos sobre a área do programação focada principalmente em JS e PHP">
    <meta name="keywords" content="Plataforma, PHP, JavaScript, Programação, Dym">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/error-screen.css">
    <link rel="shortcut icon" href="../assets/dym-logo.svg" type="image/x-icon">
    <title>Ops! Tivemos um problema para carregar essa página</title>
</head>
<body>
    <main>
       <div class="application-main">
            <div class="error-warning">
                <img src="../assets/not_found.png" widht="600" height="350">
            </div>
            <div class="text-warning">
                <h2>Ops! Não conseguimos carregar essa página. Nossa equipe de desenvolvedores está trabalhando nesse erro.</h2>
            </div>
       </div> 
    </main>
</body>
</html>